h1 {
    color: blueviolet;
    background-color: lightblue;
}

p {
   
}

.article_p {
    font-size: 20px;
}

ul {
    background-color: beige;
}

img {
    max-height: 10%;
    max-width: 10%;
}
li:nth-child(2n) {
    background-color: olive;
}